{% extends "base.html" %}

{% block title %}Blog de Eder 𓅍 𓆛{% endblock %}

{% block content %}
    <div class="header-container" style="display: flex; justify-content: space-between; align-items: center; padding: 20px 40px;">
        <h1>Blog de Eder</h1>
        
        <div class="auth-buttons">
            {% if session.get('username') %}
                <a href="{{ url_for('blog.post_blog_page') }}"><button>+ Nuevo Post</button></a>
                <a href="{{ url_for('blog.logout') }}"><button style="background-color: #f44336;">Salir</button></a>
            {% else %}
                <a href="{{ url_for('blog.login') }}"><button>Iniciar Sesión</button></a>
            {% endif %}
        </div>
    </div>

    <div class="blog-container">
        {% for blog in blogs %}
            <div class="blog-post">
                <h2 class="blogTitle">{{ blog['title'] }}</h2>
                <p class="date">{{ blog['date'] }}</p>
                <p class="bodyText">{{ blog['body_text'] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}